.navigation {
    font-size: 30px;
    font-weight: bold;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.navigation a:hover {
    text-decoration: underline;
}

.posts-row {
    display: flex; /* Use flexbox */
    align-items: top; /* Align items vertically */
    padding: 10px; /* Add some padding for spacing */
}

.left-column {
    margin-right: 10px; /* Add some spacing between left and right columns */
}

.right-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.topic a {
    text-decoration: none;
    color: black;
}

.topic a:hover {
    text-decoration: underline;
}

.user-info {
    display: flex;
    align-items: center; /* Align items horizontally */
}

.user-info a {
    text-decoration: none;
}

.user-info a:hover {
    text-decoration: underline;
}

.user-info > * {
    margin-right: 5px;
}

.status {
    display: flex;
    margin-top: 10px;
}

.status > * {
    margin-right: 10px;
}

/* POST PAGE CSS */

.post-user {
    display: flex;
}

.post-user > * {
    margin-right: 10px;
}

.post {
    
}
